#friends-display-link {
  padding: 12px 0px;
  font-size: 16px;
  font-weight: 600;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -35px;
}

.friends-display-link__column {
  color: var(--grey-font-color);
}

.friends-display-link__column:first-child {
  margin-right: 5px;
}

.friends-display-link__column:last-child {
  box-sizing: border-box;
  margin-left: 25px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: -5px;
  padding-top: 20px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey-font-color);
  margin-bottom: 15px;
  font-weight: 600;
}

.user-component-channel {
  display: flex;
  justify-content: space-between;
}

.user-component-title--not-bold {
  font-size: 21px;
  font-weight: 400;
}

#user-component__column-right-number {
  font-size: 17px;
  margin-right: 10px;
}
